<div class="container">
  <h1>ثبت نام</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>نام کاربری</mat-label>
      <input matInput formControlName='Username'>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>نام</mat-label>
      <input matInput formControlName='Name'>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>نام خانوادگی</mat-label>
      <input matInput formControlName='Family'>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>موبایل</mat-label>
      <input matInput formControlName='Mobile'>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ایمیل</mat-label>
      <input matInput formControlName='Email'>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>رمز عبور</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName='Password'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">ثبت نام</button>
    <a href="/auth">ورود</a>
    <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
  </form>
</div>
