<div class="container">
    <img class="profile" *ngIf="post.Member && post.Member?.Image" [src]="AddBaseUrlFileServer(post.Member?.Image)">
    <span class="profile material-icons" *ngIf="!post.Member || !post.Member.Image">
        account_circle
    </span>
    <div class="post">
        <h3>{{post.Member?.Name +" "+post.Member?.Family }}</h3>
        <img *ngIf="post.Image" [src]="AddBaseUrlFileServer(post.Image)">
        <p>
            {{post.Content}}
        </p>
        <diV class="extend">
            <button [ngClass]="{active: showComments}" mat-icon-button (click)="comment()">
                <span class="material-icons">
                    comment
                </span>
            </button>
            <button mat-icon-button (click)="like()">
                <span class="material-icons red" *ngIf="post.MemberLike">
                    favorite
                </span>
                <span class="material-icons" *ngIf="!post.MemberLike">
                    favorite_border
                </span>
            </button>
        </diV>

        <div class="comment" *ngIf="showComments">
            <app-comment-create [postID]="post.ID" (added)="onAddedComment($event)"></app-comment-create>
            <app-comments [list]="comments"></app-comments>
        </div>

    </div>
</div>