.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .editor {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .form-item {
      flex-grow: 1;
    }
  }

  hr {
    width: 100%;
  }

  .action {
    text-align: left;

    .img {}

    .send {

      .material-icons {
        margin-top: 3px;
        margin-right: 2px;
        font-size: 17px;
      }
    }

  }
}
